.navMenu {
    height: 100%;
    width: 30px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 20px 0;
    box-sizing: border-box;
    align-items: flex-end;
}
.navMenu div {
    background-color: rgb(0, 0, 0);
    height: 3px;
    border-radius: 30px;
}
.first {
    width: 30px;
}
.second {
    width: 25px;
}
.third {
    width: 20px;
}