.menuItem {
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
    align-items: center;
}
.menuItem a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 100%;
    padding: 10px 5px;
}
.menuItem a:hover, .menuItem a:active, .menuItem a.active{
    background-color: #d3f8ff;
    border-left: 1px solid #01C0F7;
}

@media (min-width: 600px) {
    .menuItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    .menuItem a {

        color: rgb(0, 0, 0);
        text-decoration: none;
        height: 100%;
        padding: 25px 10px;
        border-bottom: 3px solid transparent;
    }
    .menuItem a:hover, .menuItem a:active, .menuItem a.active{
        background-color: #f1fdff;
        border-bottom: 1px solid #01C0F7;
        border-left: none;
        color: #01C0F7;
    }
}   