.logo {
    height: 70px;
    display: flex;
    padding: 10px;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
}
.logo div{
    color: black;
}
.logo a:hover {
    color: #01C0F7;
    cursor: pointer;
}
.logo img {
    height: 100%;
    padding-right: 10px;
}
.logo img:hover {
    cursor: pointer;
}
.hideOnMobile {
    font-size: 13px;
}
@media (max-width: 600px) {
    .logo {
        padding: 0;
        height: 60px;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .logo img{
        padding: 10px;
    }
}